repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.1
    hooks:
      - id: ruff-format
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        additional_dependencies:
          - textual>=0.72.0
          - pytest
          - pyarrow-stubs
          - pandas-stubs
          - polars
        exclude: "tests/snapshot_tests/"
        args:
          - "--disallow-untyped-calls"
          - "--disallow-untyped-defs"
          - "--disallow-incomplete-defs"
          - "--strict-optional"
          - "--warn-return-any"
          - "--warn-no-return"
          - "--warn-redundant-casts"
          - "--no-warn-unused-ignores"
          - "--allow-untyped-decorators"
